html {
      height: 100%;
      overflow: hidden;
    }
    
body {
  margin: 0;
  padding: 0;
  height: 100%;
    background-color: #0B346E;
    background-image:
    linear-gradient(0deg, transparent 9%,
            rgba(255, 255, 255, .1) 10%, rgba(255, 255, 255, .1) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .1) 10%, rgba(255, 255, 255, .1) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
    height:100%;
  background-size:100px 100px;
}

a {
  text-decoration: none;
  color:#FFFFFF;
  background: transparent;
}

a:active,

a:hover {
  outline: 0;
  color:#FEFEFE;
  opacity: 0.5;
}

.mainnav {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size:50px;
  position:fixed;
  top:200px;
  left:50%;
  width:700px;
  margin-left:-200px;
  line-height: 60px;
}

.nav {
  font-family: 'Source Code Pro', monospace;
  list-style-type: none;
  margin: 150px;
  margin-left: 290px;
  margin-top: 165px;
  padding: 50px;
  width: 100px;
  line-height: 60px;
  opacity: 0.8
}

#mapid {
  width: 100%;
  height: 100%;
  background-color: #cad2d3;
  z-index: 0
}